#app{
    background: rgb(30,30,30);
    background: linear-gradient(-210deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 40%, rgb(75, 28, 41) 100%);
    height: 100vh;

}
.imgs{
    background-image: url('../assets/bg.jpg');
}
/* Estilo para el contenedor de la lista */
.filter-list {
    margin: 0 10px 0 20px;
    align-items: center;
    width: 100vw; /* Ancho ajustable según tus necesidades */
    height: 10vh;
    margin: 0;
    padding: 0;
}

/* Estilo para los elementos de la lista */
.filter-item {
    display: flex;
    padding: 0;
}

/* Estilo para los campos de entrada */
.filter-list input[type="text"] {
    width: 15vw;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    font-size: .7em;
    color: #dddddd;
    background-color: transparent;
    height: 5vh;
    text-align: center;
}

/* Estilo para los menús desplegables */
select, #marca, #año {
    width: 11vw;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    font-size: .7em;
    color: #999999;
    background-color: transparent;
    height: 5vh;
    text-align: center;
}

.filter-list button{
    height: 5vh;
    width: min-content;
    font-size: .7em;
    margin: 0 10px;
    background-color: #F61F60;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.filter-list button:hover{
    color: white;
}
#detalle-vehiculo{
    padding-left: 40px;
}
#detalle-vehiculo p{
    color: black;
    font-weight: bold;
}
#detalle-vehiculo span{
    color: #F61F60;
    font-weight: bold;
}

.detalles{
    height: fit-content;
}

.vehiculos, .mantenimientos{
    display: flex;
    padding: 20px;
    border: none;
    max-width: 20vw;
    min-width: 20vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}
.vehiculos:hover, .mantenimientos:hover{
    cursor: pointer;
}

.vehiculos span, .mantenimientos span{
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
    vertical-align: middle;
    height: min-content;
    text-align: center;
}

.vehiculos strong, .vehiculos p, .mantenimientos strong, .mantenimientos p{
    color: #757575;
    font-size: .8rem;
    text-align: center;
    justify-content: center;
}

.active span{
    color: white;
}

.active strong, .active p{
    color: white;
}

.navbar{
    height: 10vh;
    background-color: #1E1E1E;
}

.card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba(54, 141, 255, 0.582);
}

.btn-a{
    position: absolute;
    top: -100%;
    display: grid;
    justify-content: center;
    vertical-align: middle;
}
.btn-a:hover{
    cursor: pointer;
}

.btn-a p{
    text-decoration: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    margin-top: 20%;
    font-size: 2vw;
}

.cards-div .col{
    padding: 0;
    margin: 5px;
    margin-left: -5px;
    width: 30%;
}

.form-group input{
    border-radius: 5px;
    color: #F61F60;
    font-weight: bold;
}
.modal{
    height: 90vh;
}

.list-group::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento de Chrome y navegadores compatibles */
  }

.rides-list{
    width: 100%;
    height: 60%;
    padding: 0;
    margin:0px !important;
}

.ride{
    background-color: #353535;
    margin: 10px;
    padding: 15px;
    height: 45%;
    color: white;
    font-size: .8rem;
    width: 90%;
    border-radius: 10px;
}
.ride p{
    margin: 0 !important;
    padding: 0 !important;
}

.profile-photo{
    display: block;
    border-radius: 50%;
    background-color: #F61F60;
    width: 60px;
    height: 60px;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid white;
    margin-left: 20px;
}

